<div class="container">
  <div>
    <h3>See what other people are sharing!</h3>
  </div>
  <div>
    <% @pictures.each do |picture| %>
      <% user = User.find(picture.user_id) %>
      <div class="card">
        <div class="card-header form-inline">
          <span><%= image_tag user.avatar.url || "default_profile_picture.jpg", style: "border-radius: 40px", height: 40, width: 40 %></span>
          <span style="padding-left: 5px;">
            <div>
              <%= link_to "#{user.username}", user_path(user) %>
            </div>
            <div>
              <small class="text-muted"><%= link_to "#{picture.location.titleize}", {controller: "pictures", action: "index", location: picture.location} if picture.location %></small>
            </div>
          </span>
        </div>
        <a href="<%= picture_path(picture) %>"><%= image_tag picture.path.url, class: "img-fluid card-img-top" %></a>
        <div class="card-body">
          <p class="card-text"><%= picture.description %></p>
        </div>
        <div class="card-footer">
          <p class="card-text"><small class="text-muted"><%= "Uploaded at: #{picture.created_at.asctime}" %></small></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<style>
  .card {
    max-width: 40vw;
    margin-top: 20px;
    margin-bottom: 20px;
  }
</style>
