<div class="container-fluid">
  <div>
    <h3>See what other people are sharing!</h3>
  </div>
  <div class="row">
    <% @pictures.each do |picture| %>
      <% user = User.find(picture.user_id) %>
      <div class="card mb-3 col-md-4" style="width: 30vw;">
        <%= image_tag picture.path.url, width: 400, class: "img-fluid card-img-top" %>
        <div class="card-body">
          <div class="card-title">
            <span><%= image_tag user.avatar.url || "default_profile_picture.jpg", style: "border-radius: 40px", height: 20, width: 20 %></span>
            <span><%= link_to "#{user.username}", user_path(user) %></span>
          </div>
          <p class="card-text"><%= picture.description %></p>
        </div>
        <div class="card-footer">
          <p class="card-text"><small class="text-muted"><%= "Uploaded at: #{picture.created_at.asctime}" %></small></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
