<div class="container">
  <% user = User.find(@picture.user_id) %>
  <div class="card">
    <div class="card-header form-inline">
      <span><%= image_tag user.avatar.url || "default_profile_picture.jpg", style: "border-radius: 40px", height: 40, width: 40 %></span>
      <span style="padding-left: 5px;">
        <div>
          <%= link_to "#{user.username}", user_path(user) %>
        </div>
        <div>
          <small class="text-muted"><%= link_to "#{@picture.location.titleize}", {controller: "pictures", action: "index", location: @picture.location} if @picture.location %></small>
        </div>
      </span>
    </div>
    <%= image_tag @picture.path.url, class: "img-fluid card-img-top" %>
    <div class="card-body">
      <p class="card-text"><%= @picture.description %></p>
    </div>
    <div class="card-footer">
      <p class="card-text"><small class="text-muted"><%= "Uploaded at: #{@picture.created_at.asctime}" %></small></p>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>


<style>
  .card {
    max-width: 50vw;
    margin: 30px;
  }
</style>
